* {
	margin: 0;
}

.queue-container {
	width: 400px;
	height:400px;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	overflow-y: scroll;
}

.song {
	height: 100px;
	border-top: 1px solid #f2f2f2;
}

.song:hover {
  cursor: pointer;
  background-color: #FFD1B2;
  opacity: 0.6;
}

.highlight {
	background-color: #FFD1B2;
}

.artwork {
	float: left;
	margin-right: 10px;
}

.media-player {
	height: 40px;
	width: 215px;
	margin-top:5px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	overflow:auto;
}

.logo, h1, .clear {
	float:left;
	vertical-align:middle;
}

h1 {
	width: 315px;
}

.clear {
	cursor: pointer;
}

.play {
	display: none;
}

.pause {
	display: inline;
}

.clear, .pause, .play {
	height: 40px;
	width: 40px;
}

.prev, .next {
	height: 30px;
	width: 30px;
}

.shuffle, .replay {
	height: 25px;
	width: 25px;
}

.pause, .play, .prev, .next, .shuffle, .replay {
	cursor: pointer;
	margin-right:5px;
	margin-left:5px;
	vertical-align:middle;
}

@font-face {
	font-family: openSans;
	src: url(assets/Open_Sans/OpenSans-Regular.ttf);
}

body {
	font-family: openSans;
}