
html {
  background-color: #999;
}

body {
  width: 400px;
  height:400px;
}

* {
	margin: 0;
}

.header {
  background-color: #FFF;
  border-bottom: 1px solid #D3D3D3;
}

.header > * {
  display: inline;
}
.header .title {
  margin: 0 auto;
}

.queue-container {
  background-color: #EEE;
  width: 100%;
  height: 100%;
	overflow-y: scroll;
}

.song {
  width: 100%;
	height: 80px;
  border-bottom: 1px solid #D3D3D3;
}

.song:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}

.song-meta {
  position: relative;
  margin-top: -10px;
  width: 100%;
}

.song.now-playing {
  background-color: #FFF;
}

.song-artwork {
  height: 100%;
	float: left;
	margin-right: 5px;
}

.song-duration {
  position: absolute;
  top: 0;
  right: 5px;
  color: #999;
  font-size: 8pt;
  height: 20px;
  line-height: 20px;
}

.song-artist.btn-flat {
  display: inline-block;
  margin-right: 40px;
  font-size: 8pt;
  color: #666;
}

.song-title {
  margin-right: 20px;
  padding-left: 4px;
  font-size: 10pt;
  color: #555;
  text-transform: none;
}

.highlight .song-title {
  color: #000;
}

.clear {
	cursor: pointer;
}

.play {
	display: none;
}

.pause {
	display: inline;
}

.clear, .pause, .play {
	height: 40px;
	width: 40px;
}

.prev, .next {
	height: 30px;
	width: 30px;
}

.shuffle, .replay {
	height: 25px;
	width: 25px;
}

.media-player {
  border-top: 1px solid #D3D3D3;
  background-color: #FFF;
  height: 45px;
  width: 100%;
  padding-top: 5px;
  text-align: center;
}

.pause, .play, .prev, .next, .shuffle, .replay {
	cursor: pointer;
	margin-right:5px;
	margin-left:5px;
	vertical-align:middle;
}

@font-face {
	font-family: openSans;
	src: url(assets/Open_Sans/OpenSans-Regular.ttf);
}

body {
	font-family: openSans;
}


.btn-flat {
  text-transform: none;
  display: block;
  margin-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  height: 20px;
  line-height: 20px;
}


