* {
	margin:0;
}

.queue-container {
	width: 400px;
	height:400px;
	overflow-y:scroll;
}

.song {
	height: 100px;
	border-top: 1px solid #D3D3D3;
}

.song:hover {
  cursor: pointer;
  background-color: #FFD1B2;
  opacity: 0.6;
}

.highlight {
	background-color: #FFD1B2;
}

.artwork {
	float:left;
	margin-right:10px;
}

.media-player {
	height:25px;
	width:80px;
	margin-right:auto;
	margin-left:auto;
}

@font-face {
	font-family: openSans;
	src: url(assets/Open_Sans/OpenSans-Regular.ttf);
}

body {
	font-family:openSans;
}